// Generic
*
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    margin: 0
    padding: 0

.header
    display: flex
    justify-content: center
    align-items: center
    background: #111111
    gap: 50px
    padding: 20px 
    height: 80px
.logo
    height: 70px
    width: 70px
    border-radius: 50%
    background: #747474
    overflow: hidden
.img-logo 
    width: 100%
    height: 100%
    object-fit: cover

.nav-item
    color: white
    font-size: 1.5em
.nav-item:hover
    border-bottom: 1px solid #ffffff
    cursor: pointer
.nav-item a:active
    color: #34eb37
    border-bottom: 1px solid #34eb37
.nav-item a
    text-decoration: none
    color: white

.container
    display: flex
    justify-content: center
    align-items: center 

// Page of Questions List 

.container-list
    width: 80%
    padding: 20px
.title-list
    padding-bottom: 10px
.list
    display: block
.head-list
    font-weight:700
    border-bottom: 1px solid #777777
.row-list
    border-bottom: 1px solid #dddddd

.row-list:hover
    background: #eeeeee
.head-list, .row-list
    padding: 10px
    display: grid
    grid-template-columns: repeat(5, minmax(0, 1fr))
.span-2
    grid-column: span 2 / span 2
.btn-delete
    padding: 5px    
    background: #ff5050
    border: none
    border-radius: 5px
    cursor: pointer
.btn-delete:hover
    background: #ff8080

.btn-delete img
    width: 15px
    padding-right: 10px 

// Page of Question Create

.container-create
    width: 400px
    padding: 20px 
.title-create
    padding-bottom: 10px
    text-align: center
.form-create
    border: 1px solid #000
    padding: 20px
.field-status
    display: flex
    justify-content: space-between
    padding-top: 20px
    padding-bottom: 10px
.field-content
    display: flex
    justify-content: center
    flex-direction: column
    gap: 10px
.select-status
    padding: 5px
    width: 100px
.space-button
    padding-top: 10px 
textarea
    padding: 10px
.button-form
    background: #0099ff
    color: #ffffff
    border: none
    border-radius: 5px
    cursor: pointer
    padding: 10px 
    width: 100%   
    

.messages
    padding: 5px
.alert-danger
    background: #ff8080
    color: #ffffff
    padding: 5px
.alert-success
    background: #45c361
    color: #ffffff
    padding: 5px

.modal 
  display: none 
  position: fixed 
  z-index: 1 
  left: 0
  top: 0
  width: 100% 
  height: 100% 
  overflow: auto 
  background-color: rgb(0,0,0)
  background-color: rgba(0,0,0,0.4) 

.modal-content 
  background-color: #fefefe
  margin: 15% auto 
  padding: 20px
  border: 1px solid #888
  width: 80% 

.modal-question, .modal-buttons
    text-align: center
    padding: 10px
.modal-buttons button
    width: 100px
    padding: 5px
    border: none
    cursor: pointer
.button-yes
    color: #ffffff
    background: #46c946
.button-yes:hover
    background: #77c477
.button-no
    color: #ffffff
    background: #d93333
.button-no:hover
    background: #cf6d6d







    